!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Miniapp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{rel: "stylesheet",href: "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"}
    %link{href: "https://fonts.googleapis.com/css?family=Ubuntu",rel:"stylesheet"}
  %body
    %nav
      .nav-wrapper
        %a.brand-logo.center{href: "/"}
          MYBLOG
          %span
            =fa_icon "paw"
        -if user_signed_in?
          %ul.left.hide-on-med-and-down
            %li
              =link_to "Post",new_article_path
            %li
              =link_to "LogOut",destroy_user_session_path,method: :delete
            %li
              =link_to "MyPage",user_path(current_user)
        -else
          %ul.left.hide-on-med-and-down
            %li
              =link_to "SignUp",new_user_registration_path
            %li
              =link_to "LogIn",new_user_session_path
    = yield
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"}


